/ { chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&ws2812_pio0_default {
    ws2812 {
        pinmux = <PIO0_P14>;
    };
};

&ws2812 {
    gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
    chain-length = <7>;
    color-mapping = <LED_COLOR_ID_GREEN
                     LED_COLOR_ID_RED
                     LED_COLOR_ID_BLUE>;
};

/ {
    aliases {
        led-strip = &ws2812;
    };
};
